
<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Showing results for Bobbi Bell for August 2021</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
  <th scope="col" class="govuk-table__header">Benefit type</th>
  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tasks</th>
  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tasks in 3 days</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Carer's Allowance</th>
  <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">100%</td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Industrial Injuries Disablement Benefit</th>
  <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">100%</td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Total</th>
  <td class="govuk-table__cell govuk-table__cell--numeric"><b>24</b></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><b>100%</b></td>
</tr>
</tbody>
</table>
