{% extends "demo/03/layouts/warbreck/layout-search-case-details.html" %}

{% set person_firstName = "Mark Jones" %}
{% set person_theirNino = "AA 11 22 33 B" %}
{% set details_benefitType = "Employment and Support Allowance" %}
{% set details_dateReceived = "07/08/2021" %}
{% set details_taskResponse = "Unable to update" %}

{% block content %}

   <div class="govuk-grid-row">


   <div class="govuk-grid-column-full">

    {% include "components/task-details/task-details-list-search.html" %}


  </div>


  </div>

{% endblock %}
