<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Search by date
  </span>
</summary>
<div class="govuk-details__text">
  <div class="govuk-form-group">
    <legend class="govuk-fieldset__legend--m">
      From date
    </legend>
    <div class="govuk-date-input" id="-search-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="search-date-day" name="search-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="search-date-month">
            Month
          </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="search-date-month" name="search-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="search-date-year">
            Year
          </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="search-date-year" name="year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>
  </div>

  <div class="govuk-form-group">
    <legend class="govuk-fieldset__legend--m">
      To date
    </legend>
    <div class="govuk-date-input" id="-search-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="search-to-date-day" name="search-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="search-date-month">
            Month
          </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="search-to-date-month" name="search-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="search-date-year">
            Year
          </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="search-to-date-year" name="year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>
  </div>

  {{ govukButton({
  text: "Search",
  href: "q2"
  }) }}

</div>
</details>
