<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Search by date
  </span>
</summary>
<div class="govuk-details__text">
  <div class="govuk-form-group">
    <div class="govuk-date-input" id="-search-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="search-date-month">
            Month
          </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="search-date-month" name="search-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="search-date-year">
            Year
          </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="search-date-year" name="year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Search
  </button>

</div>
</details>
