{% extends "layouts/admin/layout-admin.html" %}

{% set notification_outstandingTasks = "36" %}
{% set notification_pausedTasks = "4" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<form action="search-month" method="post" novalidate>

  <h1 class="govuk-heading-l">Management information</h1>

{% include "components/admin/date-input/date-input.html" %}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Showing results for April 2021</caption>
<thead class="govuk-table__head">
<tr class="govuk-table__row">
  <th scope="col" class="govuk-table__header">Benefit type</th>
  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Received</th>
  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Auto updated</th>
  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Processed in 3 days</th>
  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Exceptions</th>
  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Exceptions in 3 days</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Carer's Allowance</th>
  <td class="govuk-table__cell govuk-table__cell--numeric">354</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">342</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">100%</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">100%</td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Industrial Injuries Disablement Benefit</th>
  <td class="govuk-table__cell govuk-table__cell--numeric">1212</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">1111</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">100%</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">101</td>
  <td class="govuk-table__cell govuk-table__cell--numeric">100%</td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Total</th>
  <td class="govuk-table__cell govuk-table__cell--numeric"><b>1908</b></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><b>1713</b></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><b>100%</b></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><b>195</b></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><b>96%</b></td>
</tr>
</tbody>
</table>

{{ govukButton({
  text: "Export this data"
}) }}

</form>

{% endblock %}
